.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li.active a {
    font-weight: bold;
    color: white;
    background-color: #F97316;
}

.pagination li a {
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #F2F2F2;
}

.pagination li a:hover {
    background-color: #dedede;
}